[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Airquality Sensor BME680, 128x64 Pixel OLED Display and WS1228b LED as "
[access "refs/*"]
	owner = group user/DataSCCource
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/DataSCCource
	label-Verified = -1..+1 group user/DataSCCource
	push = group user/DataSCCource
	read = group user/DataSCCource
	rebase = group user/DataSCCource
	removeReviewer = group user/DataSCCource
	submit = group user/DataSCCource
[access "refs/heads/*"]
	create = group user/DataSCCource
	push = +force group user/DataSCCource
	pushMerge = group user/DataSCCource
	read = group user/DataSCCource
[access "refs/tags/*"]
	push = group user/DataSCCource
	push = +force group user/DataSCCource
